
#nav{
    background-color: red;
}
#navUL li a{
    color: white;
    font-size: 23px;
    margin-right: 25px;
}
 
#mainHeading2{
   color: #f00606;
    margin-left: 20%;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size:70px
}
#mainHeading3{
   color: #f00606;
   font-size: 46px; 
   margin-top: 50px;
}
#mainHeading4{
   color: #f00606;
    margin-left: 20%;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size:50px
}
 
 
#blogCard{
    /* border: 1px sol  id; */
    width: 60%;
    padding: 25px;  
}
@media screen and (max-width: 764px) {
   #mainHeading{
   font-size: 60px; 
}
 
}
@media screen and (max-width: 325px) {
   #mainHeading{
   font-size: 50px; 
}
 
}
@media screen and (max-width: 1352px) {
   #mainHeading2{
    margin-left: 12%;
  
}
 #mainHeading4{
    margin-left: 12%;
  
}
 
}
@media screen and (max-width: 1176px) {
   #mainHeading2{
    margin-left: 8%;
  
}
 
}
@media screen and (max-width: 1064px) {
   #mainHeading2{
    margin-left: 4%;
  
}
 #mainHeading4{
    margin-left: 8%;
  
}
#blogCard{
    /* border: 1px sol  id; */
    width: 100%;
}
#mainHeading3{
   margin-top: 0px;
    font-size: 36px; 
}
 
}
@media screen and (max-width: 815px) {
   #mainHeading2{
    font-size: 60px;
   }
}
@media screen and (max-width: 768px) {
   #mainHeading2{
    font-size: 60px;
  
}
#mainHeading3{
   margin-top: 20px;
}
 
}
@media screen and (max-width: 600px) {
   #mainHeading2{
    font-size: 50px;
  
}
 #mainHeading4{
    margin-left: 5%;
  
}
 
}
@media screen and (max-width: 502px) {
   #mainHeading2{
    font-size: 40px;
  
}
 #mainHeading4{
    margin-left: 0%;
  
}
 
}
@media screen and (max-width: 462px) {
   #mainHeading3{
    font-size: 28px;
  
}
 
}